In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("chinook.db")

In [3]:
cur = conn.cursor()

In [4]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)

***Retriving rows***

In [5]:
cur.execute("select * from albums limit 7;")

In [6]:
results = cur.fetchall()
print(results)

[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3), (6, 'Jagged Little Pill', 4), (7, 'Facelift', 5)]

In [7]:
pd.read_sql_query("SELECT * from artists limit 5;",conn)

   ArtistId               Name
0         0             Manavi
1         1              AC/DC
2         2             Accept
3         3          Aerosmith
4         4  Alanis Morissette

In [8]:
pd.read_sql_query("SELECT ArtistId, Name FROM artists WHERE ArtistId<10;",conn,index_col="ArtistId")

                          Name
ArtistId
0                       Manavi
1                        AC/DC
2                       Accept
3                    Aerosmith
4            Alanis Morissette
5              Alice In Chains
6         Antônio Carlos Jobim
7                 Apocalyptica
8                   Audioslave

**Updating rows**

In [9]:
values = ('shape',8)
cur.execute("update artists set Name=? where ArtistId=?", values)
conn.commit()

In [10]:
pd.read_sql_query("select * from artists where ArtistId=8;", conn)

Empty DataFrame
Columns: [ArtistId, Name]
Index: []

**Deleting rows**

In [11]:
values = (8, )
cur.execute("delete from artists where ArtistId=?", values)
conn.commit()

In [12]:
pd.read_sql_query("select * from artists where ArtistId=8;", conn)

Empty DataFrame
Columns: [ArtistId, Name]
Index: []

**Inserting row**

In [15]:
cur.execute("insert into artists values (367,'kirti')")

In [16]:
conn.commit()

In [18]:
pd.read_sql_query("select * from artists where ArtistId=367;", conn)

   ArtistId   Name
0       366  kirti

## Joins

**Inner Join**

In [27]:
df_artists=pd.read_sql_query("SELECT * FROM artists limit 10",conn)
df_tracks=pd.read_sql_query("SELECT * FROM tracks limit 10",conn)

In [28]:
df_artists.merge(df_tracks,how="inner",left_on="ArtistId",right_on="TrackId")

,ArtistId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,AC/DC,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Accept,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Aerosmith,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Alanis Morissette,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Alice In Chains,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Antônio Carlos Jobim,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Apocalyptica,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Audioslave,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,10,Billy Cobham,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99

In [25]:
pd.read_sql_query("SELECT * FROM artists,tracks WHERE artists.ArtistId=tracks.TrackId limit 5",conn)

,ArtistId,Name,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,AC/DC,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Accept,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Aerosmith,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Alanis Morissette,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Alice In Chains,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

**Right Join**

In [29]:
df_artists.merge(df_tracks, how="right", left_on = "ArtistId", right_on="TrackId")

,ArtistId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1.0,AC/DC,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2.0,Accept,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3.0,Aerosmith,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4.0,Alanis Morissette,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5.0,Alice In Chains,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6.0,Antônio Carlos Jobim,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7.0,Apocalyptica,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8.0,Audioslave,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,10.0,Billy Cobham,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
9,NaN,NaN,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99

**Left Join**

In [30]:
df_artists.merge(df_tracks, how="left", left_on = "ArtistId", right_on="TrackId")

,ArtistId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,0,Manavi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AC/DC,1.0,For Those About To Rock (We Salute You),1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",343719.0,11170334.0,0.99
2,2,Accept,2.0,Balls to the Wall,2.0,2.0,1.0,None,342562.0,5510424.0,0.99
3,3,Aerosmith,3.0,Fast As a Shark,3.0,2.0,1.0,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619.0,3990994.0,0.99
4,4,Alanis Morissette,4.0,Restless and Wild,3.0,2.0,1.0,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051.0,4331779.0,0.99
5,5,Alice In Chains,5.0,Princess of the Dawn,3.0,2.0,1.0,Deaffy & R.A. Smith-Diesel,375418.0,6290521.0,0.99
6,6,Antônio Carlos Jobim,6.0,Put The Finger On You,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",205662.0,6713451.0,0.99
7,7,Apocalyptica,7.0,Let's Get It Up,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",233926.0,7636561.0,0.99
8,8,Audioslave,8.0,Inject The Venom,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",210834.0,6852860.0,0.99
9,10,Billy Cobham,10.0,Evil Walks,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",263497.0,8611245.0,0.99

**Outer Join**

In [31]:
df_artists.merge(df_tracks, how="outer", left_on = "ArtistId", right_on="TrackId")

,ArtistId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,0.0,Manavi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,AC/DC,1.0,For Those About To Rock (We Salute You),1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",343719.0,11170334.0,0.99
2,2.0,Accept,2.0,Balls to the Wall,2.0,2.0,1.0,None,342562.0,5510424.0,0.99
3,3.0,Aerosmith,3.0,Fast As a Shark,3.0,2.0,1.0,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619.0,3990994.0,0.99
4,4.0,Alanis Morissette,4.0,Restless and Wild,3.0,2.0,1.0,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051.0,4331779.0,0.99
5,5.0,Alice In Chains,5.0,Princess of the Dawn,3.0,2.0,1.0,Deaffy & R.A. Smith-Diesel,375418.0,6290521.0,0.99
6,6.0,Antônio Carlos Jobim,6.0,Put The Finger On You,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",205662.0,6713451.0,0.99
7,7.0,Apocalyptica,7.0,Let's Get It Up,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",233926.0,7636561.0,0.99
8,8.0,Audioslave,8.0,Inject The Venom,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",210834.0,6852860.0,0.99
9,10.0,Billy Cobham,10.0,Evil Walks,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",263497.0,8611245.0,0.99
10,NaN,NaN,9.0,Snowballed,1.0,1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",203102.0,6599424.0,0.99